:root {
    --ColorMP: #4BB;
    --ColorMP-Light: #cbfcfc;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header{
    background-color: var(--ColorMP);
}

footer{
    background-color: lightgray;
}